@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	text-align: left;
	color: #525f7f;
	background-color: #f8f9fe;
	overflow-y: scroll; /* Add the ability to scroll */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}
.landing--image {
	width:220px
}
.navbar--custom {
	background-color: #95d18a !important;	
}

.navigation--items {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
	border-color: none;
	font-size: 1.2rem;
}

.navigation--active {
	background-color: rgb(222, 240, 217) !important;
	border: 3px solid rgb(169, 212, 157);
}

.navigation--items:hover {
	border: 3px solid rgb(169, 212, 157);
}

.row--item {
	background-color: white;
	border-radius: 5px;
}

.date--range {
	border-radius: 50px;
	margin-bottom: 20px;
	border-color: transparent;
	background-color:white;
}

.data--item {
	margin-bottom: 30px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.user--card {
	border-radius: 10px;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
	.landing--image {
		width: 620px;
	}
}

@media (min-width: 1080px) {
	.landing--image {
		width: 620px;
	}
}

.c-details span {
	font-weight: 300;
	font-size: 13px
}

.icon {
	width: 50px;
	height: 50px;
	background-color: #eee;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 39px
}

.badge span {
	background-color: #fffbec;
	width: 60px;
	height: 25px;
	padding-bottom: 3px;
	border-radius: 5px;
	display: flex;
	color: #fed85d;
	justify-content: center;
	align-items: center
}

.progress {
	height: 10px;
	border-radius: 10px
}

.progress div {
	background-color: sandybrown
}

.text1 {
	font-size: 14px;
	font-weight: 600
}

.text2 {
	color: #a5aec0
}