.users-container {
  margin: 50px;
  background-color: rgb(82, 131, 131);
  padding: 60px;
}

.table-hover tbody tr:hover td {
  background-color: #e0ffff;
}

.table {
  margin: 80px auto auto;
  width: 80%;
}

form.row {
  margin: 80px auto auto;
}
.user-header {
  display: flex;
}

.search-form {
  height: 40px;
}
.search-employees {
  width: 600px;
}

.btn-group {
  margin-right: 20px;
}

.btn-outline-dark {
  height: 40px;
}
