.users-container {
  margin: 50px;
  background-color: #E8FFFF;
  padding: 60px;
}

.table-hover tbody tr:hover td {
  background-color: #E8FFFF;
}

.table {
  margin: 80px auto auto;
  width: 100%;
  font-size: large;
}

.navbar-brand {
  background-color: transparent;
  box-shadow: none;
}

.navbar {
  background-color: #41AEA9;
  font-weight: bolder;
  font-size:large;
}

.create-user {
  padding: 50px;
}

.search-form{
  padding: 12px 0px;
  width: 450px;
}

.sort-users{
  padding: 25px 0;
}
