.users-container {
  margin: 50px;
  background-color: rgb(82, 131, 131);
  padding: 60px;
}

.table-hover tbody tr:hover td {
  background-color: #e0ffff;
}

.table {
  margin: 80px auto auto;
  width: 100%;
}

.navbar-brand{
  background-color: transparent;
  box-shadow: none;
}



