.users-container {
  margin: 50px;
  background-color: rgb(194, 236, 236);
  padding: 60px;
}

.table-hover tbody tr:hover td {
  background-color: #e0ffff;
}

.table {
  margin: 80px auto auto;
  width: 80%;
}
