/* timeline */

.timeline {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative
}

.timeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3px;
	background: #eee;
	left: 20%;
	margin-left: -6px
}

.timeline>li {
	position: relative
}

.timeline>li:first-child .time span.large {
	color: #444;
	font-size: 17px !important;
	font-weight: 700
}

.timeline>li:first-child .icon {
	background: #fff;
	color: #666
}

.timeline>li:nth-child(odd) .time span:last-child {
	color: #444;
	font-size: 13px
}

.timeline>li:nth-child(odd) .label {
	background: #f0f1f3
}

.timeline>li:nth-child(odd) .label:after {
	border-right-color: #f0f1f3
}

.timeline>li .empty span {
	color: #777
}

.timeline>li .time {
	display: block;
	width: 23%;
	padding-right: 70px;
	position: absolute
}

.timeline>li .time span {
	display: block;
	text-align: right
}

.timeline>li .time span:first-child {
	font-size: 15px;
	color: #3d4c5a;
	font-weight: 700
}

.timeline>li .time span:last-child {
	font-size: 14px;
	color: #444
}

.timeline>li .label {
	margin: 0 0 15px 25%;
	background: #f0f1f3;
	padding: 1.2em;
	position: relative;
	border-radius: 5px
}

.timeline>li .label:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #f0f1f3;
	border-width: 10px;
	top: 10px
}

.timeline>li .label blockquote {
	font-size: 16px
}

.timeline>li .label .map-checkin {
	border: 5px solid rgba(235, 235, 235, 0.2);
	-moz-box-shadow: 0px 0px 0px 1px #ebebeb;
	-webkit-box-shadow: 0px 0px 0px 1px #ebebeb;
	box-shadow: 0px 0px 0px 1px #ebebeb;
	background: #fff !important
}

.timeline>li .label h2 {
	margin: 0px;
	padding: 0 0 0 0;
	line-height: 26px;
	font-size: 16px;
	font-weight: normal
}

.timeline>li .label h2 a {
	font-size: 15px
}

.timeline>li .label h2 a:hover {
	text-decoration: none
}

.timeline>li .label h2 span {
	font-size: 15px
}

.timeline>li .label p {
	color: #444
}

.timeline>li .icon {
	width: 40px;
	height: 40px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 5px #f5f5f6;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px
}

@media screen and (max-width: 992px) and (min-width: 768px) {
	.timeline>li .time {
			padding-right: 60px
	}
}

@media screen and (max-width: 65.375em) {
	.timeline>li .time span:last-child {
			font-size: 12px
	}
}

@media screen and (max-width: 47.2em) {
	.timeline:before {
			display: none
	}
	.timeline>li .time {
			width: 100%;
			position: relative;
			padding: 0 0 20px 0
	}
	.timeline>li .time span {
			text-align: left
	}
	.timeline>li .label {
			margin: 0 0 30px 0;
			padding: 1em;
			font-weight: 400;
			font-size: 95%
	}
	.timeline>li .label:after {
			right: auto;
			left: 20px;
			border-right-color: transparent;
			border-bottom-color: #f5f5f6;
			top: -20px
	}
	.timeline>li .icon {
			position: relative;
			float: right;
			left: auto;
			margin: -64px 5px 0 0px
	}
	.timeline>li:nth-child(odd) .label:after {
			border-right-color: transparent;
			border-bottom-color: #f5f5f6
	}
}

.bg-icon {
	background-color: #f0d496 !important;
	color: #fff;
}